.user {
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 10px;
    position: relative;
}

@media screen and (max-width: 660px) {
    .user {
        width: auto;
    }
}

.userInfo a {
    color: black;
    text-decoration: none;
}

.userInfo img {
    width: 4.3em;
    margin-top: 15px;
    border-radius: 50%;
    box-shadow: 0 0 40px lightgrey;
}

.userName {
    margin-top: 5px;
    font-weight: 500;
}

.userStatus {
    padding: 5px;
    font-weight: 300;
    text-align: center;
}

.followed {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.button {
    width: 80%;
}
