.nav, .wideNav {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    width: 16rem;
    z-index: 10;
}

.wideNav {
    width: 16rem;
}

.wideNav .linkText {
    display: block;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navigationItem {
    width: 100%;
}

.navigationLink img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navigationLink {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);
}

.navigationItem:last-child {
    margin-top: auto;

}

.navigationLink:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.active {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.navigationLink .navigationIcon {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.linkText {
    display: none;
    margin-left: 1rem;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logout {
    display: none;
}

/*Smaller screens*/
@media only screen and (max-width: 450px) {
    .navigationItem:nth-last-child(3) {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .navigationItem:nth-last-child(2) {
        display: none;
    }
}


/*Small screens*/
@media only screen and (max-width: 600px) {
    .nav, .wideNav {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigationLink {
        justify-content: center;
    }


    .nav .linkText, .wideNav .linkText {
        display: none;
    }


    .nav:hover, .wideNav:hover {
        width: 100%;
    }
}

/*Large screens*/
@media only screen and (min-width: 600px) {
    .nav, .wideNav {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .wideNav {
        width: 16rem;
    }

    .wideNav .linkText {
        display: inline;
        transition: opacity var(--transition-speed);
    }

    .wideNav .logout {
        display: inline;
        margin: 0 1.5rem;
        transition: opacity var(--transition-speed);
    }


}
