.profile__info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.profile__description {
    margin: 30px;
}

.profile__photo img {
    border-radius: 50%;
    width: 300px;
}

img.profile__owner_image:hover {
    filter: blur(2px);
}

.status {
    font-weight: 300;
}

.status__input {

}

.contacts {
    padding-left: 10px;
}

.edit__form_error {
    border: 2px solid red;
    color: red;
}

