.postForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postForm_input {
    flex: 1;
}

.likeCount {
    display: flex;
    justify-content: flex-end;
}

.postCard {
    margin: 15px;
}

.postUser {
    display: flex;
    align-items: center;
}
.postName {
    padding-left: 15px;
}
