* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: #EEEEEE;
}


.app-wrapper-content, .app-wrapper-content_wide {
    padding: 20px;
    transition: all 300ms ease;
}

/*Smaller screens*/
@media only screen and (max-width: 450px) {
    .app-wrapper-content {

    }
}

/*Small screens*/
@media only screen and (max-width: 600px) {
    .app-wrapper-content, .app-wrapper-content_wide {
        padding-bottom: 100px;
    }
}

/*Large screens*/
@media only screen and (min-width: 600px) {
    .app-wrapper-content {
        padding-left: 100px;
    }

    .app-wrapper-content_wide {
        padding-left: 275px;
    }
}
