* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.app-wrapper-content {
    padding: 20px 0 20px 0;
}

/*Smaller screens*/
@media only screen and (max-width: 450px) {
    .app-wrapper-content {

    }
}

/*Small screens*/
@media only screen and (max-width: 600px) {

}

/*Large screens*/
@media only screen and (min-width: 600px) {
    .app-wrapper-content {
        padding-left: 100px;
    }
}
